.user-nav {
    display: grid;
    grid-template-columns: 155px 120px auto;
    column-gap: 10px;
    width: 100%;
    padding: 1em 0;
    .add-new {
        justify-self: right;
    }
}

ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 60px auto 160px 60px;

        p {
            font-weight: bold;
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}
